body {
    height: 100vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: pink;
    justify-content: space-evenly;
}

h1 {
    color:#d298a3;
}



#timer {
    font-size:100px;
    color:#c4919a;
}

#button-div {
    display:flex;
    justify-content: space-evenly;
}

p {
    color: #a77c84;
    font-size: 25px;
}